$primary: DarkOliveGreen;
$secondary: DarkSeaGreen;
$primary-text: CornSilk;
$bar-box-height: 300;
$font: 'Dosis', sans-serif;

body {
  background-color: black;
}

.fa {
  color: $primary-text;
}

.my-header {
  color: $primary-text;
  font-family: $font;
}

.my-sub-header {
  color: $primary-text;
  font-family: $font;
  font-style: italic; 
}

.navbar-inverse {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.standard-round {
  border-radius: 4px;
  margin: 5px;
}

.footer {
  background-color: $primary;
  color: $primary-text;
  height: 39px;
  text-align: center;
  font-family: $font;
  font-size: 16px;
  padding-top: 8px;
}

.container {
  margin: 5px;
}

.one-bar {
  background-color: $secondary;
  background-size: cover;
  height: unquote($bar-box-height/2 + 'px');
  position: relative;
  padding: 0px;
}

.bar-fade {
  height: unquote($bar-box-height + 'px');
  background: linear-gradient(rgba(0,0,0,0.2) 40%, rgba(0, 0, 0, 1) 100%); 
  margin: 0px;
  z-index: 100;
}

.bar-info-container {
  position: relative;
  top: unquote(-$bar-box-height / 3 + 'px');
}

.bar-title {
  color: $primary-text;
  font-size: 38px;
  font-weight: lighter;
  font-family: $font
}
.bar-subtitle {
  color: $primary-text;
  font-style: italic;
}
.going-count {
  @extend .standard-round;
  color: $primary-text;
  background-color: $primary;
  border-style: solid;
  border-color: $primary-text;
  padding: 5px;
  margin: 5px;
  display: inline;
  line-height: 50px;
  font-family: $font;
}
.user-going {
  @extend .going-count;
}
.user-not-going {
  @extend .going-count;
  margin-left: 10px;
  background-color: transparent;
}

.hidden {
  display: none;
}

#bar-1 {
  background-image: url("/public/img/rm1.jpg")
}
#bar-2 {
  background-image: url("/public/img/rm2.jpg")
}
#bar-3 {
  background-image: url("/public/img/rm3.jpg")
}
#bar-4 {
  background-image: url("/public/img/rm4.jpg")
}