<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Landing page</title>
  <link rel="stylesheet" href="public/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/css/main.css">
</head>
<body style="background-color: yellow">
  <h1>Welcome!</h1>
  <p>I am the glorious landing page!</p>
  <input id='location-search' type="text" placeholder="where are you">
    <i class='fa fa-location-arrow' id='location-get'></i>
  </input>
  <button type="button" id='search-btn' class='btn btn-primary'>Search</button>
  <script src="/client/landing.js"></script>
</body>
</html>