<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
  <div class='header-bar'>
    <h1>You've reached the profile page!</h1>
  </div>
  
  <div class='bars-body container'>
    <div class="row">
      <div class="one-bar col-sm-5 col-xs-10" id='bar-1'>
        <div class="bar-fade"></div>
        <div class="bar-info-container">
          <span class="bar-title">This is a Bar's Title</span>
          <img src='http://s3-media4.fl.yelpcdn.com/assets/2/www/img/8e8633e5f8f0/ico/stars/v1/stars_small_2_half.png'></img>
          <span class='bar-snippet'>This is a subtitle</span>
          <div class="going-count">5 going</div>
          <div class="user-going">You are NOT GOING</div>
        </div>
      </div>
      <div class="one-bar col-sm-5 col-xs-10" id='bar-2'>
        <div class="bar-fade"></div>
        <div class="bar-info-container">
          <span class="bar-title">This is a Bar's Title</span>
          <img src='http://s3-media4.fl.yelpcdn.com/assets/2/www/img/8e8633e5f8f0/ico/stars/v1/stars_small_2_half.png'></img>
          <span class='bar-snippet'>This is a subtitle</span>
          <div class="going-count">5 going</div>
          <div class="user-going">You are NOT GOING</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="one-bar col-sm-5 col-xs-10" id='bar-3'>
        <div class="bar-fade"></div>
        <div class="bar-info-container">
          <span class="bar-title">This is a Bar's Title</span>
          <img src='http://s3-media4.fl.yelpcdn.com/assets/2/www/img/8e8633e5f8f0/ico/stars/v1/stars_small_2_half.png'></img>
          <span class='bar-snippet'>This is a subtitle</span>
          <div class="going-count">5 going</div>
          <div class="user-going">You are NOT GOING</div>
        </div>
      </div>
      <div class="one-bar col-sm-5 col-xs-10" id='bar-4'>
        <div class="bar-fade"></div>
        <div class="bar-info-container">
          <span class="bar-title">This is a Bar's Title</span>
          <span class="bar-stars"></span>
          <span class='bar-snippet'>This is a subtitle</span>
          <div class="going-count">5 going</div>
          <div class="user-going">You are NOT GOING</div>
        </div>
      </div>
    </div>
  </div>

  <div class='footer'>
    <p>Created special for you by HogDog Designs</p>
  </div>

  <script src='/client/profile.js'></script>
</body>
</html>