<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>I Don't Want to Drink Alone Tonight!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="public/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
  <div class='header-bar'>
    <h1>You've reached the profile page!</h1>
  </div>
  
  <div id="react-shell"></div>

  <div class='footer'>
    <p>Created special for you by HogDog Designs</p>
  </div>

  <script src='/client/profile.js'></script>
</body>
</html>