<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>I Don't Want to Drink Alone Tonight!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#to-collapse" aria-expanded="false">
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>-->
        <p class="navbar-brand">I DON'T WANT TO DRINK ALONE TONIGHT.</p>
      </div>
      <!--<div class='collapse navbar-collapse' id='to-b'>-->
        <ul class="nav navbar-nav navbar-right">
          <li><a href='/home'>Search Locations</a></li>
          <li><a href="#" id='login-btn'>Login</span> <i class='fa fa-twitter'></i></a>
        </ul>
      <!--</div>-->
    </div>
  </nav>
  
  <div id="react-shell"></div>

  <div class='footer'>
    <p>Created special for you by HogDog Designs</p>
  </div>

  <script src='/client/profile.js'></script>
</body>
</html>