body {
  background-color: black; }

.fa {
  color: CornSilk; }

.my-header {
  color: CornSilk;
  font-family: 'Dosis', sans-serif; }

.my-sub-header {
  color: CornSilk;
  font-family: 'Dosis', sans-serif; }

.navbar-inverse {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.standard-round, .one-bar {
  border-radius: 4px;
  margin: 5px; }

.header-bar {
  background-color: DarkOliveGreen; }

.footer {
  background-color: DarkSeaGreen;
  color: CornSilk; }

.container {
  margin: 5px; }

.one-bar {
  background-color: DarkSeaGreen;
  background-size: cover;
  height: 300px;
  position: relative;
  padding: 0px; }

.bar-fade {
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.2) 40%, black 100%);
  margin: 0px;
  z-index: 100; }

.bar-info-container {
  position: relative;
  top: -150px; }

.bar-title {
  color: CornSilk;
  font-weight: bolder; }

.bar-subtitle {
  color: CornSilk; }

.going-count {
  color: CornSilk; }

.user-going {
  color: CornSilk;
  background-color: #00e800; }

.user-not-going {
  color: CornSilk;
  background-color: DarkOliveGreen; }

.hidden {
  display: none; }

#bar-1 {
  background-image: url("/public/img/rm1.jpg"); }

#bar-2 {
  background-image: url("/public/img/rm2.jpg"); }

#bar-3 {
  background-image: url("/public/img/rm3.jpg"); }

#bar-4 {
  background-image: url("/public/img/rm4.jpg"); }
