body {
  background-color: black; }

.fa {
  color: CornSilk; }

#react-shell {
  min-height: 600px; }

.my-header {
  color: CornSilk;
  font-family: "Dosis", sans-serif; }

.my-sub-header {
  color: CornSilk;
  font-family: "Dosis", sans-serif;
  font-style: italic; }

.navbar-inverse {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.standard-round, .going-count, .user-going, .user-not-going {
  border-radius: 4px;
  margin: 5px; }

.footer {
  background-color: DarkOliveGreen;
  color: CornSilk;
  height: 39px;
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  padding-top: 8px; }

.container {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px; }

.landing-container {
  min-height: 600px; }

.one-bar {
  background-color: DarkSeaGreen;
  background-size: cover;
  height: 300px;
  position: relative;
  padding: 0px; }

.bar-fade {
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.2) 40%, black 100%);
  margin: 0px;
  z-index: 100; }

.bar-info-container {
  position: relative;
  top: -150px;
  margin-left: 10px; }

.bar-title {
  color: CornSilk;
  font-size: 38px;
  font-weight: lighter;
  font-family: "Dosis", sans-serif; }

.bar-title:hover {
  cursor: pointer; }

.bar-subtitle {
  color: CornSilk;
  font-style: italic; }

.going-count, .user-going, .user-not-going {
  color: CornSilk;
  background-color: DarkOliveGreen;
  border-style: solid;
  border-color: CornSilk;
  padding: 5px;
  margin: 5px;
  display: inline;
  line-height: 50px;
  font-family: "Dosis", sans-serif; }

.user-going:hover, .user-not-going:hover {
  cursor: pointer; }

.user-not-going {
  margin-left: 10px;
  background-color: transparent; }

.present-message, .error-message {
  color: CornSilk;
  font-size: 30px;
  text-align: center;
  margin: auto; }

.error-message {
  font-size: 16px; }

.hidden {
  display: none; }

#bar-1 {
  background-image: url("/public/img/rm1.jpg"); }

#bar-2 {
  background-image: url("/public/img/rm2.jpg"); }

#bar-3 {
  background-image: url("/public/img/rm3.jpg"); }

#bar-4 {
  background-image: url("/public/img/rm4.jpg"); }
